body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.hola-mundo {
    color: #2d89ef;
    font-size: 2rem;
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
}